:root {
  --main-bg-color: #fff;
  --main-text-color: #000;
  --box-shadow: 3px 5px 9.199999809265137px 0px rgba(0, 0, 0, 0.15),inset 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
  --background: rgba(255, 255, 255, 0.3);
}

html {
  font-size: 10px !important;
  scroll-behavior: smooth;
}

.body {
  position: relative;
  min-width: 300px;
  font-family: "Involve", sans-serif;
  line-height: normal;
  font-weight: 400;
  color: var(--main-text-color);
  background: #000;
  scroll-behavior: smooth;
}

.body {
  min-height: 100vh;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
  max-width: 1153px;
}

.gradient {
  background: linear-gradient(90deg, #f00 0%, #ffb8df 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

.fz-40 {
  font-size: clamp(2rem, 3vw, 4rem);
}

.fz-36 {
  font-size: clamp(2rem, 3vw, 3.6rem);
}

.fz-32 {
  font-size: clamp(2rem, 2.5vw, 3.2rem);
}

.fz-24 {
  font-size: clamp(1.6rem, 3vw, 2.4rem);
}

.fz-20 {
  font-size: 20px;
}

@media (max-width: 900px) {
  .container {
    /* max-width: 813px; */
    padding: 0 10px;
  }
}