:root {
  --main-bg-color: #fff;
  --main-text-color: #000;
  --box-shadow: 3px 5px 9.199999809265137px 0px rgba(0, 0, 0, 0.15), inset 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
  --background: rgba(255, 255, 255, 0.3);
}

html {
  font-size: 10px !important;
  scroll-behavior: smooth;
}

.body {
  position: relative;
  min-width: 300px;
  font-family: "Involve", sans-serif;
  line-height: normal;
  font-weight: 400;
  color: var(--main-text-color);
  background: #ffffff;
  scroll-behavior: smooth;
}

.body {
  min-height: 100vh;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
  max-width: 1153px;
}

.gradient {
  background: linear-gradient(90deg, #f00 0%, #ffb8df 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

/* .bg-animated {
  position: fixed;
  inset: -20%;
  background-image: url("../media/shared/decorations/bg.png");
  background-size: 120% 120%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  filter: blur(50px) saturate(120%);
  animation: bgFloat 15s ease-in-out infinite alternate;
  z-index: -1;
  pointer-events: none;
} */

@keyframes bgFloat {
  0% {
    background-position: 45% 55%;
    transform: scale(1) rotate(0.1deg);
  }
  20% {
    background-position: 65% 40%;
    transform: scale(1.03) rotate(-0.2deg);
  }
  40% {
    background-position: 35% 70%;
    transform: scale(1.07) rotate(0.15deg);
  }
  60% {
    background-position: 55% 30%;
    transform: scale(1.05) rotate(-0.1deg);
  }
  80% {
    background-position: 70% 60%;
    transform: scale(1.09) rotate(0.05deg);
  }
  100% {
    background-position: 50% 50%;
    transform: scale(1.1) rotate(0deg);
  }
}

.fz-40 {
  font-size: clamp(2rem, 3vw, 4rem);
}

.fz-36 {
  font-size: clamp(2rem, 3vw, 3.6rem);
}

.fz-32 {
  font-size: clamp(2rem, 2.5vw, 3.2rem);
}

.fz-24 {
  font-size: clamp(1.6rem, 3vw, 2.4rem);
}

.fz-20 {
  font-size: 20px;
}

@media (max-width: 900px) {
  .container {
    /* max-width: 813px; */
    padding: 0 10px;
  }
}