.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  backdrop-filter: blur(24px);
  box-shadow: 0px 4px 15.899999618530273px 0px rgba(0, 0, 0, 0.16), inset 0px 4px 4px 0px rgba(255, 255, 255, 0.26);
  border-radius: 50px;
  background: var(--background);
}

.slides-container {
  overflow: hidden;
  height: 703px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 703px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-size: 24px;
  color: white;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: none;
  width: 41px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev svg,
.next svg {
  width: 100%;
  height: 100%;
}

.prev {
  right: clamp(90%, 90vw, 105%);
}

.next {
  left: clamp(90%, 90vw, 105%);
}

.dots {
  position: absolute;
  bottom: -5em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  overflow: visible;
  padding: 10px;
}

.dot {
  display: flex;
  width: clamp(1.4rem, 2.5vw, 3.2rem);
  height: clamp(1.6rem, 2.5vw, 3.3rem);
  cursor: pointer;
  background: url(../media/shared/icons/heart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: visible;
}

.dot.active {
  background: url(../media/shared/icons/heart-active.svg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: visible;
}